*{margin:0px;padding:0px;}
ul,li{list-style-type: none;}
input{outline: none;border-radius: 0px;border:0 none;}
html,body{
    font-size:90px!important;
    min-height: 100%;
    height:100px;
    overflow-x:hidden ;
    background-color:blue;
    /*overflow-y: auto;*/
    /*禁止连接高亮 */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /*禁止链接长按弹出选项*/
    -webkit-touch-callout: none;

}

/*为了等比例缩放 400*20/375=21.3*/
@media screen and (min-width:400px){
    html,body{
        font-size: 21.3px!important;
    }
}
/*为了等比例缩放 414*20/375=22.08*/
@media screen and (min-width:414px){
    html,body{
        font-size: 22.08px!important;
    }
}
@media screen and (min-width:480px){
    html,body{
        font-size: 25.6px!important;
    }
}