<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Biz On Web @ New Zealand</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOW LENGTH">
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/alertify.css" rel="stylesheet">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="Favicon Icon" href="favicon.ico">
    <script src="../io/func/cpcheker.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
    window.onload = function(){document.getElementById("mainframe").style.height=window.innerHeight-50+"px";}
    window.onresize = function(){document.getElementById("mainframe").style.height=window.innerHeight-50+"px";}
    </script>
  </head>
  <body>
    <div id="wrap">