#right_nav,#jump,#sec3,#sec4,#sec5,sec6 {display: none;}
#info_nav p{display: none;}
*{margin: 0;text-decoration: none;list-style-type: none;}
/*header*/
#header{width:100%;transition: 0.5s ease;z-index: 100;background-color: white;box-shadow: 0 0 55px black;white-space: nowrap;position: relative;}
#logo{display:inline-block;width: 100px;height: 100%;margin-left:1%;}
#logo #img_call{width: 100%;height: 100%;cursor:pointer;}
#nav{width: 40%;height: auto;display:inline-block;margin-left: 10%;position: absolute;top:-10%;}
#subtitle_service{display: none;width: 0;height: 0;}
#subtitle_product{display: none;width: 0;height: 0;}
#info_nav{width: 100%;height: auto;display: inline-block;}
#info_nav button{float:left;width: 40%;height:40px;margin-top:5%;border:2px solid midnightblue;border-radius: 15px;font-size: 12px;color: midnightblue;font-weight: 700;}
#info_nav button:first-child{width: 50%;}
#info_nav button:hover,#phone:hover{cursor: pointer;border: 1px solid darkorange;color: darkorange;}
#info_nav #phone:hover{background-color: lightgray;color: darkorange;}
#info_nav #phone{display: inline-block;margin-right:20%;width:auto;height: 40px;background-color: midnightblue;border-radius: 12px;color: white;font-size: 12px;white-space: nowrap;padding-top: 2%;box-sizing: border-box;padding-right: 1%;margin-top: 5%;}
#info_nav img{width: auto;height: 30px;margin:1px 5px;float: left; }

/*手机端用到*/
#menu_content{width: 60%;height: auto;position: absolute;top:60px;right:0;background-color: #ddd;text-align: center;font-size: 25px;}
#menu_content li{height: 40px;border-bottom: 2px solid white;padding-top: 1%;box-sizing: border-box;}
#menu_content li:hover{cursor: pointer;background-color: red;color: white;}
.menu_content_off{display: none;width: 0;height: 0;}
.menu_content_on{visibility: visible;}
#menu_section{width: 20px;float: right;height: 20px;position: absolute;top:3%;right:2%;}
.line{background-color: #333333;width: 100%;height: 6px;margin-top: 20%;}
/*subtitile开始*/
.item_off{display: none;}
.item_on{visibility: visible;}
#service_item1,#service_item2,#service_item3{background-color: red;color: white;}
#service_item1:hover,#service_item2:hover,#service_item3:hover {background-color: white!important;color: black!important;}
/* 动态header配置 */
.header_off{height:150px;}
.header_on{height:60px;}
#logo .logo_on{height: 60px;}
#logo .logo_off{height: 150px;}
#logo .img_on{height: 60px;}
#logo .img_off{height: 150px;}
/*body*/
/*body开始*/
#pagebody{width:100%;height: auto;}
/*sec1开始*/
#sec1{background: url(../../imgs/banner0.jpg) fixed center;width: 100%;height: auto;}
#sec1 p:first-child{padding-top:5%;padding-left:10%;box-sizing:border-box;width: 100%;height: auto;font-weight: 400;font-size: 20px;}
#sec1 p:nth-child(2){padding-top:3%;margin-left:10%;box-sizing:border-box;width: 60%;height: 100px;font-size:12px;}
#sec1 button{width: 20%;height: auto;background-color: darkslateblue;color: white;font-weight: 400;font-size: 12px;border-radius: 20px;margin-left: 10%;margin-top: 0%;padding: 1%;box-sizing: border-box;}
/*sec1结束*/
/*sec2开始*/
#sec2{width: 100%;height: 200px;background-color: lightblue;position: relative;}
#sec2 #bar{position: absolute;bottom: 5%;left: 25%;width: auto;height:auto;z-index: 2;white-space: nowrap;}
#sec2 #bar div{width: 25px;height: 8px;background-color: transparent;display: inline-block;margin:0 5%;border-radius: 10px;border: 1px solid gray;}
.slide_off{width: 0;height: 0;display: none;}
.slide_on{width: 100%;height: 300px;position: absolute;z-index: 1;}
#sec2 #slide2{background-color: darkorange;}
#sec2 #slide3{background-color: yellowgreen;}
#sec2 #slide1{background-color: red;}
#sec2 p:first-child{padding-top:5%;padding-left:10%;box-sizing:border-box;width: auto;height: auto;font-weight: 500;font-size: 20px;}
#sec2 p:nth-child(2){margin:auto;width: 60%;height: auto;font-size: 12px;}
#sec2 button{width: 15%;height: 50px;background-color: darkslateblue;color: white;font-size: 12px;border-radius: 20px;margin:auto 40%;}
#sec2 button:hover{background-color: darkorange;color: white;cursor: pointer;}
/*sec2结束*/
/*buttom*/
#buttom {width: 100%;height:150px;background-color:darkslateblue;padding-top:25%;box-sizing: border-box;}
#buttom img{width: 15%;height: auto;float: left;margin-left: 1%;margin-top: 5%;}
#buttom p{color: white;text-align: center;margin-top:2%;width: 70%;float: right;font-size: 12px;}